.loader{
    position: absolute;
    animation: speedy 2s infinite forwards;
}

.car{
    width: 40px;
    height: 18px;
    background-color: #00d4d0;
    z-index: 0;
}
.car::before{
    content: "";
    position: absolute;
    /* top: 1px;
    left: 1px; */
    width: 9px;
    height: 8px;
    background-color: #f9fafb;
    z-index: 1;
}
.car::after{
    content: "";
    position: absolute;
    /* top: 1px;
    left: 1px; */
    right: 0;
    width: 9px;
    height: 8px;
    background-color: #f9fafb;
    z-index: 1;
}

.window{
    position: absolute;
    top: 2px;
    left: 11px;
    width: 8px;
    height: 6px;
    background-color: #001d2f;
    z-index: 1;
    -webkit-box-reflect: right 2px;
}

.tires{
    position: absolute;
    left: 6px;
    top: 15px;
    width: 10px;
    height: 8px;
    background-color: #001d2f;
    z-index: 1;
    -webkit-box-reflect: right 12px;
    border-radius: 20px;
}

.flag{
    position: absolute;
    left: -16px;
    top: 2px;
    width: 10px;
    height: 8px;
    background-color: red;
    transform: rotate(-45deg);
}
.flag::after{
    content: "";
    position: absolute;
    top: 6px;
    width: 20px;
    height: 1px;
    background-color: brown;
    transform: rotate(90deg);
}


@keyframes speedy {
    0% {
        left: 0vw;
    }
    30% {
        left: 10vw;
    }
    60% {
        left: 20vw;
    }
    100% {
        left: 30vw;
    }
}